stitch_portfolio_tesla_sistemas_360 2/
.DS_Store
.vercel
.env.local
.env*.local
node_modules/
client_secrets.json
.claude/settings.local.json

# Recursos Personales & Logos
Logo*
canarias-paisajes/
curriculum*
extract_linkedin.py
linkedin.pdf
